.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20px;
}

.timestamps {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container div {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 2px;
}
