.timestamps {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
}

.timestamps > div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
