/* Position buttons on left, timeline on right */
.timeline {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
.timeline .buttons {
  flex: 0 0 auto;
}
.timestamps {
  flex: 1 1 auto;
}

/* Position timestamps at left, center, and right */
.timestamps {
  position: relative;
  left: 0;
  right: 0;
}
.timestamps > div {
  position: relative;

  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.timestamps > svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
